*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:cyan;
}
body{
    background-color: #2d2d2d;
    height: 200vh;
}
/* Start Decoration Header Menu Bar */
div#header_div{
    width:100%; height: 3.2rem;
    margin:auto; padding:auto;
    position: fixed;
    display:flex;
    justify-content: space-evenly;
}
div#header_div div#header_logo,div#header_div ul#header_menu{
    display:flex;
    justify-content: center;
    align-items: center;
}
div#header_div span#header_span{
    display: none;
}
div#header_div div#header_logo img#header_img{
    width:3rem; height: 3rem;
    border:0.3px solid red;
    border-radius: 100%;
    margin:3px; padding:1px;
}
div#header_div div#header_logo h1#header_h1{
    text-shadow: 1px 1px red;
    font-weight: 250;
}
div#header_div div#header_logo h1#header_h1 span{
    color:red;
    text-shadow: 1px 1px cyan;
}
div#header_div ul#header_menu li{
    font-size: 1.2rem;
    margin:0 1.1rem;
    padding:2px;
    list-style: none;
}
div#header_div ul#header_menu li a{
    text-shadow: 0.5px 0.5px red;
    text-decoration: none;
}
div#header_div ul#header_menu li a:hover{
    color:red;
    text-shadow: 0.5px 1px cyan;
    border-bottom: 1px solid cyan;
    border-radius: 0.5rem;
}
div#header_div ul#header_menu li ul{
    display:none;
    position: absolute;
}
div#header_div ul#header_menu li:hover ul{
    display:block;
}

@keyframes header-rtl{
    from{
        transform: translate(7rem);
    }
    to{
        transform: translate(-1rem);
    }
}
div#header_div ul#header_menu{
    animation-name: header-rtl;
    animation-duration: 2s;
}

@keyframes header-ltr{
    from{
        transform: translate(-7rem);
    }
    to{
        transform: translate(1rem);
    }
}
div#header_div div#header_logo{
    animation-name: header-ltr;
    animation-duration: 2s;
}


/* End Decoration Header Menu Bar */

/* Start Decoration Home Page With Text Animation */

section#home{
    width:99%; height:100vh;
    margin:auto; padding:0;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
section#home div#home_div h2#home_h2{
    color:red;
    text-shadow: 1px 1px cyan;
    font-size: 2rem;
    font-weight: 700;
}
section#home div#home_div h3#home_h3{
    text-shadow: 0.7px 0.7px red;
    font-size: 1.5rem;
    font-weight: 300;
}
section#home div#home_div h3#home_h3 span{
    color:red; text-shadow: 1px 1px cyan;
    font-size: 2rem;
    font-weight: 500;
}
section#home div#home_div button,section#home div#home_div button a{
    background-color: #2d2d2d;
    width:4.3rem; height:2rem;
    text-decoration: none;
    border-radius: 0.3rem;
}
section#home div#home_div div#home_btns{
    margin:0.7rem 0;
    display:flex;
    justify-content: space-between;
}
div#home_div div#home_btns a#home_contact_btn{
    color: gold;
    border:0.5px solid gold;
    text-decoration: none;
    padding:5px 7px;
    border-radius: 3px;
}
div#home_div div#home_btns a#home_contact_btn:hover{
    color:red;
    background-color: gold;
    border:0.5px solid red;
}
div#home_div div#home_btns a#home_about_btn{
    color:cyan;
    border:.5px solid cyan;
    text-decoration: none;
    padding:5px 7px;
    border-radius: 3px;
}
div#home_div div#home_btns a#home_about_btn:hover{
    color:blue;
    background-color: cyan;
    border:0.5px solid blue;
}

@keyframes home-btn-b2t{
    from{
        transform: translateY(2rem);
    }
    to{
        transform: translateY(-0.3rem);
    }
}
div#home_div div#home_btns button#home_about_btn{
    animation-name: home-btn-b2t;
    animation-duration: 3s;
}

@keyframes home-btn-ltr{
    from{
        transform: translate(7rem);
    }
    to{
        transform: translate(-0.3rem);
    }
}
div#home_div div#home_btns button#home_contact_btn{
    animation-name: home-btn-ltr;
    animation-duration: 2s;
}

/* End Decoration Home Page With Text Animation */

/* Start Decoration About Page With Skills */

section#about{
    width:100%; height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
section#about div#about_details fieldset#about_fieldset{
    width:28rem;
    border:0.7px solid cyan;
    border-radius: 0.5rem;
}
div#about_details fieldset#about_fieldset legend{
    color:red;
    font-size: 2rem;
    text-shadow: 1px 1px cyan;
    font-weight: 500;
    margin:auto;
}
div#about_details fieldset#about_fieldset div#about_text{
    width:27rem;
    margin:auto;
}
fieldset#about_fieldset div#about_text h3{
    color:red;
    text-shadow: 0.3px 0.3px cyan;
    font-weight: 500;
}
fieldset#about_fieldset div#about_div_btn{
    margin:4px;
    display: flex;
    justify-content: flex-end;
}
fieldset#about_fieldset div#about_div_btn input#about_more_btn{
    color:blue;
    font-size: 1rem;
    padding:2px 7px;
    background-color: cyan;
    border:0.3px solid blue;
    border-radius: 0.3rem;
}
fieldset#about_fieldset div#about_div_btn input#about_more_btn:hover{
    color: cyan;
    background-color: blue;
    border:0.3px solid cyan;
}

section#about div#about_skills h2{
    text-shadow: 1px 1px red;
    font-weight: 430;
    text-align: center;
}
section#about div#about_skills fieldset{
    width:22rem; height: 13rem;
    margin:1rem;
    border:0.7px solid red;
    border-radius: 0.5rem;
}
div#about_skills fieldset legend{
    font-size: 1.3rem;
    margin-left: 1rem;
}
div#about_skills fieldset div#about_skills_fieldset_div{
    width:20rem;
    margin:0.3rem auto;
}
div#about_skills_fieldset_div h3{
    font-size: 1rem;
    font-weight: 430;
    color:red;
    text-align: center;
}
div#about_skills_fieldset_div progress{
    width:20rem;
    border:0.3px solid cyan;
    border-radius: 0.2rem;
    background-color: #2d2d2d;
}

/* End Decoration About Page With Skills */

/* Start Decoration Contact Page */

section#contact{
    width:100%; height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
div#contact-div fieldset{
    width:22rem;
    height:17rem;
    border:1px solid cyan;
    border-radius: 3px;
    padding:7px;
}
div#contact-div fieldset legend{
    text-shadow: 0.8px 0.6px red;
    font-size: 2rem;
    font-weight: 500;
    margin:auto
}
div#contact-div fieldset input, div#contact-div fieldset textarea{
    font-size: 1.3rem;
    padding:3px;
    width:100%;
    margin:1rem auto;
    background-color: #2d2d2d;
    border:0.2px solid red;
    border-radius: 3px;
}
div#contact-div fieldset div{
    display:flex;
    justify-content: flex-end;
    margin:0.3rem;
}
div#contact-div fieldset div button{
    color:blue;
    border:0.3px solid blue;
    background-color: #2d2d2d;
    padding:5px 11px;
    border-radius: 3px;
    font-weight: 600;
}
div#contact-div fieldset div button:hover{
    color:cyan;
    border:0.3px solid cyan;
    background-color: blue;
}

/* End Decoration Contact Page */

/* Start Decoration Projects Page */

/* Start Projects Page Decoration */
section#projects{
    width:99.5%;
    height:100vh;
    margin:auto;
}
/* Calculator Project */
section#calculator{
    width:99.5%;
    height:57vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
h1#projects_h1{
    color: cyan;
    text-shadow: 2px 2px red;
    font-size: 2rem;
}
fieldset#cal{
    width:241px;
    margin:5% auto;
    border-radius: 0.2rem;
    border: 0.3px solid cyan;
}
fieldset#cal legend,label{
    color:cyan;
    padding:auto; margin:auto;
    font-size: 1.2rem;
}
fieldset#cal input{
    width:3rem; height:3rem;
    border-radius: 100%;
    margin: 7px 3px;
    border:0.2px solid cyan;
    color:aqua; background-color: #2d2d2d;
}
fieldset#cal input:hover{
    -moz-outline-radius: 100%;
    outline: 3px solid red;
}
fieldset#cal input#main{
    width: 10.9rem; height: 2rem;
    border-radius: 0.1rem;
    border-right: 0; border-left: 0;
    border-bottom:0.2px solid cyan;
    border-top:0.2px solid cyan;
    margin: 2px;
    padding-left:0.4rem;
}
fieldset#cal input#first,fieldset#cal input#second,fieldset#cal #result{
    width: 95%; height: 2rem;
    border-right: 0; border-left: 0;
    border-bottom:0.2px solid cyan;
    border-top:0.2px solid cyan;
    margin: 2px; color:cyan;
    padding-left:0.7rem;
}
fieldset#cal input#main:hover, fieldset#cal input#first:hover, fieldset#cal input#second:hover, fieldset#cal #result:hover{
    outline:none;
}

/* to do list && dictionary Projects */
fieldset#to_do_list{
    margin: auto;
    width: 20rem;
    border-radius: 1rem;
    border:0.4px solid cyan;
}
fieldset#to_do_list legend{
    color :cyan;
    font-size: 2rem;
    font-weight: 300;
    margin:auto;
}
fieldset#to_do_list #tdl_input{
    margin:5px 6px;
    width:13rem;
    color:cyan;
    border: 0.2px solid cyan;
    padding:5px;
    border-radius: 3px;
    background-color: #2d2d2d;
}
fieldset#to_do_list #tdl_button{
    color:blue;
    border:0.3px solid blue;
}
fieldset#to_do_list button,fieldset#to_do_list #tdl_button{
    margin:2px 1rem;
    width: 60px; height:30px;
    border-radius: 3px;
    background-color: #2d2d2d;
}
fieldset#to_do_list button:hover{
    border-radius: 1rem;
}
fieldset#to_do_list li{
    list-style: decimal-leading-zero;
    list-style-position: inside;
    color: gold;
}
fieldset#to_do_list hr{
    color:white;
}
/* End Projects Page Decoration */

/* End Decoration Projects Page */

/* Start Decoration Mamber Page for Login Page */

section#mamber div#mamber_login{
    width:100%; height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
section#mamber div#mamber_login fieldset{
    border:0.3px solid red;
    border-radius: 0.3rem;
    width:25rem;
}
div#mamber_login fieldset legend{
    color: red;
    font-size: 1.6rem;
    text-shadow: 1px 1px cyan;
    margin:auto;
}
div#mamber_login fieldset div{
    width:23rem; margin:1rem auto;
}
div#mamber_login fieldset div label{
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-shadow: 1px 1px red;
}
div#mamber_login fieldset div input{
    width:23rem;
    font-size: 1rem;
    line-height: 2rem;
    margin:0.3rem auto; padding:1px;
    background-color: #2d2d2d;
    border:0.5px solid cyan;
    border-radius: 0.3rem;
}
div#mamber_login fieldset div input:hover{
    color:red; border:0.5px solid red;
}
div#mamber_login fieldset div#mamber_div{
    display: flex;
    justify-content: space-evenly;
}
div#mamber_login fieldset div input#login_register,div#mamber_login fieldset div input#login_submit{
    width:4.3rem; height:2rem;
    line-height: 0;
    font-weight: 900;
}
div#mamber_login fieldset div input#login_register{
    color:red; border:0.5px solid red;
    background-color: #2d2d2d;
}
div#mamber_login fieldset div input#login_register:hover{
    color:#2d2d2d;
    background-color: red;
    border:0.5px solid #2d2d2d;
}
div#mamber_login fieldset div input#login_submit{
    color:gold;
    background-color: #2d2d2d;
    border:0.5px solid gold;
}
div#mamber_login fieldset div input#login_submit:hover{
    color:#2d2d2d;
    background-color: gold;
    border:0.5px solid #2d2d2d;
}

/* End Decoration Mamber Page for Login Page */

/* Start Home Up Button */
div#CopyRight{
    width:99.5%;
    margin:auto;
    background-color: rgba(123,234,112,0.5);
    display:flex;
    align-items: center;
    justify-content: space-around;
}
div#CopyRight h2{
    color:cyan;
    text-shadow: 1px 1px black;
    text-decoration: none;
}
div#CopyRight h2 span{
    color:red;
    text-shadow: 1px 1px cyan;
}
/* End Home Up Button */

/* Start Decoration Responsive */
@media all and (max-width:786px){
    /* Start Header Menu Bar */
    div#header_logo h1#header_h1{
        font-size: 1.5rem;
    }
    div#header_div{
        width:100%;
        position: fixed;
        background-color: #2d2d2d;
    }
    div#header_div ul#header_menu{
        width:100%; height:90vh;
        margin-top: 3.1rem;
        display:ruby-base;
        position: absolute;
        background-color: #2d2d2d;
        display:none;
    }
    div#header_div ul#header_menu > li{
        text-align: center;
        margin:3vh 0;
    }
    div#header_div ul#header_menu > li ul{
        width:100%;
        margin:auto;
    }
    div#header_div span#header_span{
        display:block;
        cursor: pointer;
        line-height: auto;
        font-size: 1.2rem;
        font-weight: 700;
        margin:auto;
    }
    /* End Header Menu Bar */

    /* Start About Page */
    section#about{
        width:100%; height:100vh;
        display: inline-block;
    }
    div#about_details{
        width:17rem;
        margin:auto;
    }
    section#about div#about_details fieldset#about_fieldset{
        width:17rem;
    }
    div#about_details fieldset#about_fieldset div#about_text{
        width:16.5rem;
        margin:auto;
    }
    section#about div#about_skills{
        width:17rem;
        margin:auto;
    }
    section#about div#about_skills fieldset{
        width:17rem; margin:auto;
    }
    div#about_skills fieldset div#about_skills_fieldset_div{
        width:16rem; margin:auto;
    }
    div#about_skills_fieldset_div progress{
        width:16rem; margin:auto;
    }
    /* End About Page */

    /* Start Contact Page */

    div#contact-div fieldset{
        width:17rem;
    }

    /* End Contact Page */

    /* Start Mamber Page for Login */

    section#mamber div#mamber_login fieldset{
        width:17rem;
    }
    div#mamber_login fieldset div{
        width:16rem; margin:0.6rem auto;
    }
    div#mamber_login fieldset div input{
        width:16rem; margin:auto;
    }

    /* End Mamber Page for Login */

    /* Start Projects Page */
    section#projects{
        display:none;
    }
    /* End Projects Page */
    div#CopyRight h2{
        font-size: 1rem;
        font-weight: 300;
    }
}
/* End Decoration Responsive */